<!-- Menu header -->
<div class="navbar-header">
  <ul class="nav navbar-nav flex-row">
    <li class="nav-item mr-auto">
      <!-- App Branding -->
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" />
        </span>
        <h2 class="brand-text mb-0">{{ coreConfig.app.appName }}</h2>
      </a>
    </li>
    <!-- Menu Toggler đã xoá colapse-->
  </ul>
</div>
<!--/ Menu header -->

<!-- Navbar shadow -->
<div class="shadow-bottom" [ngClass]="{ 'd-block': isScrolled }"></div>

<!-- Main menu -->
<!-- Chỗ này để chỉnh sửa menu sidebar -->
<div class="">
  <div class="qltt" [formGroup]="signForm">
    <h2 class="ml-1">Quản lý tập tin</h2>
    <div class="slidebar-left">
      <div class="d-flex">
        <div class="col-6">
          <input
            #fileInput
            type="file"
            style="display: none"
            accept="application/pdf"
            (change)="handleFile($event.target)"
            (change)="onFileInput($event)"
          />
          <button
            type="button"
            class="btn btn-primary btn-block btn-sm"
            (click)="fileInput.click()"
          >
            Tải lên
          </button>
        </div>
        <div class="col-6">
          <button
            type="button"
            class="btn btn-primary btn-block btn-sm"
            [disabled]="this.files === undefined || this.files.length === 0"
          >
            Tải Xuống
          </button>
        </div>
      </div>
      <br />
      <div style="height: 230px; overflow-x: hidden">
        <div class="d-flex">
          <h5 class="col-6">Name</h5>
          <h5 class="col-6">Actions</h5>
        </div>
        <ul class="list-group" *ngFor="let file of files; let i = index">
          <li class="list-group-item" (click)="choosePdf(i)">
            <a>{{ i + 1 }}. {{ file.name }}</a>
            <button class="btn btn-primary btn-sm" (click)="removeFile(i)">
              Xoá
            </button>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="ml-1">Quản lý chữ ký số</h2>
        <div class="col-12">
          <div class="col-xl-12 mb-lg-1 col-bill-to pl-0">
            <!-- ng selected có input file -->
            <div class="col-sml-12 form-group">
              <ng-select placeholder="Thêm/Chọn chứng thư số">
                <ng-option *ngFor="let item of listCert; let i = index">{{
                  item.name
                }}</ng-option>
                <ng-template ng-header-tmp>
                  <button
                    class="
                      add-new-customer
                      btn btn-flat-success
                      cursor-pointer
                      rounded-0
                      text-left
                      p-50
                      w-100
                    "
                    (click)="fileInput2.click()"
                  >
                    <input
                      #fileInput2
                      type="file"
                      (change)="onCertInput($event)"
                      style="display: none"
                    />
                    <i data-feather="plus"></i>
                    <span class="align-middle ml-25">Tải lên chứng thư số</span>
                  </button>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="col-6">
            <button
              type="button"
              class="btn btn-primary btn-block btn-sm"
              (click)="openKyso(modalBasic)"
              rippleEffect
              [disabled]="
                this.files === undefined ||
                this.files.length === 0 ||
                this.listCert.length === 0
              "
            >
              Ký số
            </button>
            <ng-template #modalBasic let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Ký số</h4>
                <button
                  type="button"
                  class="close"
                  (click)="modal.dismiss('Cross click')"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body col-12" tabindex="0" ngbAutofocus>
                <div
                  id="users-list"
                  class="chat-user-list-wrapper list-group"
                  [perfectScrollbar]
                ></div>
                <div class="main">
                  <h2>Danh sách tên tập tin cần ký</h2>
                  <div style="height: 150px; overflow-x: hidden">
                    <ul
                      class="list-group"
                      *ngFor="let file of files; let i = index"
                    >
                      <li class="list-group-item">{{ file.name }}</li>
                    </ul>
                  </div>
                  <div class="">
                    <h2>Thông tin chủ thể ký số</h2>
                    <!-- <ng-select placeholder="Chọn chủ thể ký số" >
                      <ng-option *ngFor="let item of listCert">{{
                        item.name
                      }}</ng-option>
                    </ng-select> -->
                    <div class="col-12">
                      <table class="col-8">
                        <tr>
                          <td>Thư điện tử :</td>
                          <td>
                            {{ certInfor[0].emailAddress }}
                          </td>
                        </tr>
                        <tr>
                          <td>Ký bởi :</td>
                          <td>
                            {{ certInfor[0].commonName }}
                          </td>
                        </tr>
                        <tr>
                          <td>Tên đơn vị :</td>
                          <td>
                            {{ certInfor[0].organizationName }}
                          </td>
                        </tr>
                        <tr>
                          <td>Quốc Gia :</td>
                          <td>
                            {{ certInfor[0].countryName }}
                          </td>
                        </tr>
                        <tr>
                          <td>Tỉnh/Thành Phố :</td>
                          <td>
                            {{ certInfor[0].provinceName }}
                          </td>
                        </tr>
                        <tr>
                          <td>Quận/Huyện :</td>
                          <td>
                            {{ certInfor[0].localityName }}
                          </td>
                        </tr>
                        <tr>
                          <td>Đường :</td>
                          <td>
                            {{ certInfor[0].streetAddress }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="signature">
                    <h2>Biểu diễn chữ ký số</h2>
                    <div class="d-flex">
                      <div class="col-4">
                        <div class="custom-control custom-checkbox">
                          <p>
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="checkTitle"
                              checked
                            />
                            <label class="custom-control-label" for="checkTitle"
                              >Nhãn</label
                            >
                          </p>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <p>
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="checkEmail"
                              checked
                            />
                            <label class="custom-control-label" for="checkEmail"
                              >Thư điện tử</label
                            >
                          </p>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <p>
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="checkName"
                              checked
                            />
                            <label class="custom-control-label" for="checkName"
                              >Họ và tên</label
                            >
                          </p>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <p>
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="checkOU"
                              checked
                            />
                            <label class="custom-control-label" for="checkOU">
                              Tên đơn vị</label
                            >
                          </p>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <p>
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="checkTime"
                              checked
                            />
                            <label class="custom-control-label" for="checkTime"
                              >Thời gian ký</label
                            >
                          </p>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="demo-inline-spacing">
                          <div class="custom-control custom-radio">
                            <input
                              type="radio"
                              id="radioAnh"
                              name="customRadio"
                              class="custom-control-input"
                            />
                            <label class="custom-control-label" for="radioAnh"
                              >Ảnh</label
                            >
                          </div>
                          <div class="custom-control custom-radio">
                            <input
                              type="radio"
                              id="radioAnhChu"
                              name="customRadio"
                              class="custom-control-input"
                              checked
                            />
                            <label
                              class="custom-control-label"
                              for="radioAnhChu"
                              >Ảnh/Chữ</label
                            >
                          </div>
                          <div class="custom-control custom-radio">
                            <input
                              type="radio"
                              id="radioChu"
                              name="customRadio"
                              class="custom-control-input"
                            />
                            <label class="custom-control-label" for="radioChu"
                              >Chữ</label
                            >
                          </div>
                        </div>
                        <div class=""><img [src]="this.image" alt="" /></div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    Mật khẩu chứng thư số <input type="text" />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="modal.close('Accept click')"
                  (click)="getData()"
                  rippleEffect
                >
                  Ký
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="postSignRequest()"
                >post request</button>
              </div>
            </ng-template>
          </div>
          <div class="col-6">
            <button
              type="button"
              class="btn btn-primary btn-block btn-sm"
              (click)="openCauhinh(modalCauhinh)"
              [disabled]="
                this.files === undefined ||
                this.files.length === 0 ||
                this.listCert.length === 0
              "
            >
              Cấu hình
            </button>
            <ng-template #modalCauhinh let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">
                  Cấu hình chữ ký số
                </h4>
                <button
                  type="button"
                  class="close"
                  (click)="modal.dismiss('Cross click')"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div
                class="modal-body col-11 ml-5"
                id="myModalLabel1"
                tabindex="0"
                ngbAutofocus
              >
                <table>
                  <h4>Dịch vụ kiểm tra trạng thái chứng thư số trực tuyến</h4>
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck1"
                          checked
                        />
                        <label class="custom-control-label" for="customCheck1"
                          >Sử dụng dịch vụ</label
                        >
                      </div>
                    </th>
                    <th>
                      <div class="col-sml-12 form-group">
                        <ng-select
                          placeholder="Chọn đường dẫn dịch vụ"
                          [disabled]="false"
                        >
                          <ng-option>wwww.google.com</ng-option>
                          <ng-option>wwww.facebook.com</ng-option>
                          <ng-option>wwww.amazon.com</ng-option>
                        </ng-select>
                      </div>
                    </th>
                  </tr>
                  <h4>Dịch vụ cung cấp dấu thời gian</h4>
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck2"
                          checked
                        />
                        <label class="custom-control-label" for="customCheck2"
                          >Sử dụng dịch vụ</label
                        >
                      </div>
                    </th>
                    <th>
                      <div class="col-sml-12 form-group">
                        <ng-select placeholder="Chọn đường dẫn dịch vụ">
                          <ng-option>wwww.google.com</ng-option>
                          <ng-option>wwww.facebook.com</ng-option>
                          <ng-option>wwww.amazon.com</ng-option>
                        </ng-select>
                      </div>
                    </th>
                  </tr>
                </table>
                <div class="so-luong">
                  <h2>Số lượng tập tin trong một yêu cầu ký</h2>
                  <div class="demo-inline-spacing">
                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="customRadio1"
                        name="customRadio"
                        class="custom-control-input"
                        checked
                      />
                      <label class="custom-control-label" for="customRadio1"
                        >Ký Đơn</label
                      >
                    </div>
                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="customRadio2"
                        name="customRadio"
                        class="custom-control-input"
                      />
                      <label class="custom-control-label" for="customRadio2"
                        >Ký Lô</label
                      >
                    </div>
                  </div>
                </div>
                <div class="">
                  <div class="">
                    <h2>Vị trí vùng chứa chữ ký mặc định</h2>
                    <div class="d-flex" formGroupName="config">
                      <table class="">
                        <tr>
                          <th>Trang số</th>
                          <th></th>
                          <th>
                            <input
                              formControlName="pageIndex"
                              [(ngModel)]="page"
                              min="0"
                              max="{{ totalPages }}"
                              class="number-input"
                              type="number"
                            />{{ totalPages }}
                          </th>
                        </tr>
                        <tr>
                          <th>Toạ độ</th>
                          <th>X</th>
                          <th>
                            <input
                              [(ngModel)]="x"
                              formControlName="top"
                              min="0"
                              max="240"
                              class="number-input"
                              type="number"
                              (change)="changePositionX()"
                            />/240
                          </th>
                        </tr>
                        <tr>
                          <th></th>
                          <th>Y</th>
                          <th>
                            <input
                              formControlName="left"
                              [(ngModel)]="y"
                              min="0"
                              max="400"
                              class="number-input"
                              type="number"
                              (change)="changePositionY()"
                            />/400
                          </th>
                        </tr>
                        <tr>
                          <th>Kích thường</th>
                          <th>Chiều dài</th>
                          <th>
                            <input
                              [(ngModel)]="height"
                              formControlName="height"
                              min="0"
                              max="400"
                              class="number-input"
                              type="number"
                            />/200
                          </th>
                        </tr>
                        <tr>
                          <th></th>
                          <th>Chiều rộng</th>
                          <th>
                            <input
                              [(ngModel)]="width"
                              formControlName="width"
                              min="0"
                              max="400"
                              class="number-input"
                              type="number"
                            />/140
                          </th>
                        </tr>
                      </table>
                      <div class="example-boundary ml-4">
                        <pdf-viewer
                          [src]="pdfSrc"
                          [original-size]="false"
                          [show-all]="false"
                          [page]="page"
                          (after-load-complete)="afterLoadComplete($event)"
                          style="height: 100%"
                        ></pdf-viewer>
                        <div
                          [style.width.px]="width"
                          [style.height.px]="height"
                          class="example-box"
                          cdkDragBoundary=".example-boundary"
                          cdkDrag
                          [cdkDragFreeDragPosition]="dragPosition"
                          (cdkDragEnded)="onDragEnded($event)"
                        >
                          Chữ ký
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="" formGroupName="display">
                    <h2>Mẫu chữ ký</h2>
                    <div class="">
                      <div class="d-flex">
                        <div class="col-4">
                          <div class="col-6">
                            <input
                              #imageInput
                              type="file"
                              style="display: none"
                              (change)="inputImage($event)"
                            />
                            <button
                              type="button"
                              class="btn btn-primary btn-sm"
                              (click)="imageInput.click()"
                            >Thêm
                              ảnh
                            </button>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <p>
                              <input
                                formControlName="hasPhoto"
                                type="checkbox"
                                class="custom-control-input"
                                id="checkImg"
                                checked
                              />
                              <label class="custom-control-label" for="checkImg">
                                Ảnh</label
                              >
                            </p>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <p>
                              <input
                                formControlName="hasLabel"
                                type="checkbox"
                                class="custom-control-input"
                                id="checkTitle"
                                checked
                              />
                              <label
                                class="custom-control-label"
                                for="checkTitle"
                                >Nhãn</label
                              >
                            </p>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <p>
                              <input
                                formControlName="hasEmail"
                                type="checkbox"
                                class="custom-control-input"
                                id="checkEmail"
                                checked
                              />
                              <label
                                class="custom-control-label"
                                for="checkEmail"
                                >Thư điện tử</label
                              >
                            </p>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <p>
                              <input
                                formControlName="hasCommonName"
                                type="checkbox"
                                class="custom-control-input"
                                id="checkName"
                                checked
                              />
                              <label
                                class="custom-control-label"
                                for="checkName"
                                >Họ và tên</label
                              >
                            </p>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <p>
                              <input
                                formControlName="hasOrganization"
                                type="checkbox"
                                class="custom-control-input"
                                id="checkOU"
                                checked
                                
                              />
                              <label class="custom-control-label" for="checkOU">
                                Tên đơn vị</label
                              >
                            </p>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <p>
                              <input
                                formControlName="HasSigningTime"
                                type="checkbox"
                                class="custom-control-input"
                                id="checkTime"
                                
                                checked
                              />
                              <label
                                class="custom-control-label"
                                for="checkTime"
                                >Thời gian ký</label
                              >
                            </p>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="" slyte="width:200px; height:120px;">
                            <img [src]="this.image" slyte="width:200px; height:120px;"/>
                            <div class="" *ngIf="checkedTime">thời gian</div>
                            <div class="sig-type-text">
                              <a *ngIf="checkedHeader">Thư điện tử : </a>
                              <a *ngIf="checkedEmail">emaill@a2.com</a>
                              <br />
                              <a *ngIf="checkedHeader">Ký bởi : </a>
                              <a *ngIf="checkedName"></a>
                              <br />
                              <a *ngIf="checkedHeader">Tên đơn vị : </a>
                              <a *ngIf="checkedOU"></a>
                              <br />
                              <a *ngIf="checkedHeader">Thời gian ký : </a>
                              <a *ngIf="checkedTime"
                                >
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="">
                    Mật khẩu chứng thư số <input type="text"/>
                  </div> -->
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="modal.close('Accept click')"
                  rippleEffect
                >
                  Accept
                </button>
              </div>
            </ng-template>
          </div>
        </div>
        <br />
        <h2 class="ml-1">Quản lý thuê bao</h2>
        <div class="ml-1">
          <div class="mr-1">
            <button
              type="button"
              class="btn btn-primary btn-block"
              rippleEffect
            >
              Tạo mới
            </button>
          </div>
          <br />
          <div class="mr-1">
            <button
              type="button"
              class="btn btn-primary btn-block"
              rippleEffect
            >
              Cập nhật
            </button>
          </div>
          <br />
          <div class="mr-1">
            <button
              type="button"
              class="btn btn-primary btn-block"
              rippleEffect
            >
              Tìm kiếm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="main-menu-content" [perfectScrollbar] (scroll)="onSidebarScroll()">
  <ul class="navigation navigation-main" layout="vertical" core-menu></ul>
</div> -->
  <!--/ Main menu -->
</div>
